- data = @level.properties
:javascript
  window.levelProperties = #{data.to_json};
= javascript_include_tag 'react'
= javascript_include_tag 'levels/contract_match'

:css
  .contract select {
    color: white;
    background-color: #999999;
    margin-top: 10px;
  }

  #functionNameText {
    margin-top: 10px;
  }

  .domainItem {
    /*width: 160px;*/
    height: 36px;
    color: white;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
  }

  #domainItemText {
    margin-top: 10px;
  }

  .domainItem .domainItemText {
    font-size: 16px;
    padding: 10px;
    color: white;
    overflow: hidden;
  }

  .domain-x-button {
    float: right;
    width: 27px;
    height: 27px;
    font-size: 22px;
    padding: 0;
    margin: 4px;
  }

  .contract .buttons {
    margin-top: 8px;
  }

  #sectionTitle {
    font-size: 20px;
  }

.contract
  - app = 'contract_match'

  - options_to_colors = { None: "#999999", Number: "#00ccff", String: "#0099999", Image: "#9900cc", Boolean: "#336600" }

  .mainblock
    = render partial: 'levels/content', locals: {app: app, data: data}
    #sectionTitle Name
    %div
      %input#functionNameText{type: 'text', placeholder: 'Name'}
    #sectionTitle Range
    %select#rangeInput
      - options_to_colors.each do |type_name, color|
        %option{"data-color" => "#{color}"}= type_name
    #sectionTitle Domain
    #domains
      %input#domainItemText{type: 'text', placeholder: 'Name'}
      %select#domainInput
        - options_to_colors.each do |type_name, color|
          %option{"data-color" => "#{color}"}= type_name
      %button#addButton Add
    #domainItems
    .clear
    = render partial: 'levels/dialog', locals: {app: app, data: data}
  .clear
  %div{style: 'display: none;'}
    - ['badname', 'badrange', 'baddomainsize', 'baddomainname', 'baddomaintype'].each do |error_type|
      %div{id: "#{error_type}-dialogcontent"}
        .modal-content
          %p.dialog-title
            =t('data.contract_match.errors.wrong_title')
          %p
            =t("data.contract_match.errors.#{error_type}")
          .farSide
            %button#ok-button.secondary
              =t('dialog.ok')

= render partial: 'levels/common_audio'
